body {
    background: thistle;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

h1 {
    font-family: 'Redressed', cursive;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.thumbnail {
    height: 20vmax;
    width: 20vmax;
    margin: 2vmax 0;
    background-size: cover;
    outline: 2px solid black;
    box-shadow: 1vmax 1vmax .75vmax rgba(0,0,0,.5);
    position: relative;
}

.overlay {
    background: grey;
    height: 20vmax;
    width: 0vmax;
    transition: .5s;
}

.overlay:hover {
    width: 20vmax;
}

.overlay a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    color: black;
    opacity: 0%;
    transition: .75s;
}

.overlay:hover a {
    opacity: 100%;
}

.company {
    background-image: url(assets/company.png)
}

.basic {
    background-image: url(assets/basics.png);
}

.geo {
    background-image: url(assets/geocities.png);
}

.square {
    background-image: url(assets/squares.png);
}

.phone {
    background-image: url(assets/smartphone.png);
}

.load {
    background-image: url(assets/loading.png);
}

footer {
    font-family: 'Redressed', cursive;
    font-size: 1.75em;
}