body {
    background: seashell;
    font-family: monospace;
    text-align: center;
    font-size: 2em;
}
a  {
    display: block;
    padding: .75em;
    color: black;
}

.home {
    text-align: left;
    font-size: .75em;
}