* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background: black;
    color: white;
    text-align: center;
}

header {
    height: 6em;
}

.banner {
    background: silver;
    color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding: 1em;
    animation-name: banner;
}

.anim {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes banner {
    0% {
        width: 0%;
        opacity: 0%;
    }
    25% {
        width: 1%;
        opacity: 100%;
    }
    50% {
        width: 100%;
        color: rgba(0, 0, 0,0);
    }
    100% {
        color: black;
    }
}

header a {
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: fade;
}

@keyframes fade {
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.tag {
    margin: 1em;
}

.reel {
    width: 80%;
    height: 50vh;
    border: solid 2px white;
}

a {
    color: white;
    display: block;
    margin: 1em;
}

footer {
    height: 3em;
}

h2 {
    margin-top: 1em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    width: 25vmax;
    background: white;
    outline: solid 2px white;
    margin: 3vmax;
}

.container:hover {
    transform: scale(1.25);
}

.video {
    width: 100%;
}

.text {
    color: black;
}