* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background: black;
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 5em;
    font-family: 'Lobster', cursive;
    font-size: 2em;
}

.banner {
    background: silver;
    color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding: .5em;
    animation-name: banner;
}

.anim {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes banner {
    0% {
        width: 0%;
        opacity: 0%;
    }
    25% {
        width: 1%;
        opacity: 100%;
    }
    50% {
        width: 100%;
        color: rgba(0, 0, 0,0);
    }
    100% {
        color: black;
    }
}

header a {
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: fade;
    font-size: .75em;
}

@keyframes fade {
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.tag {
    margin: 1em;
    font-size: 1.25em;
}

.reel {
    width: 80%;
    height: 50vh;
    border: solid 2px white;
    box-shadow: 1vmax 1vmax .75vmax rgba(250,250,250,.5);
}

a {
    color: white;
    display: block;
    margin: 1em;
}

footer {
    height: 2.5em;
    font-family: 'Lobster', cursive;
    font-size: 2em;
}

h2 {
    margin-top: 1em;
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    width: 25vmax;
    background: white;
    outline: solid 2px white;
    margin: 3vmax;
    box-shadow: 1vmax 1vmax .75vmax rgba(250,250,250,.5);
}

.container:hover {
    transform: scale(1.25);
    box-shadow: 1.5vmax 1.5vmax 1.25vmax rgba(250,250,250,.25);
}

@media (max-width: 800px) {
    .container {
        width: 40vmax;
    }
}

@media (max-width: 600px) {
    .container {
        width: 50vmax;
    }
}

.video {
    width: 100%;
}

.text {
    color: black;
    padding: .5em;
}