body {
    background: black;
    color: white;
}

header {
    text-align: center;
}

.reel {
    width: 80%;
    height: 40vw;
    border: solid 2px white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
}